################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/practice12/FileContentIndex/0762d412-2426-4413-92f5-e36ca5411097.vsidx
/.vs/practice12/FileContentIndex/a8608110-d729-4f07-b3f6-e65b571d21b0.vsidx
