################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/practice12/FileContentIndex/0762d412-2426-4413-92f5-e36ca5411097.vsidx
